{% extends "base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}

  <link rel="stylesheet" href="{{ asset("css/products.css") }}">

{% endblock %}


{% block body %}

<div class="container">


  <form action="">
    <div class="form-group">
      <label for="info">Search for a particular product</label>
      <input type="text" class="form-control" name="search_word">
    </div>

    <button id="search_button" type="submit" class="btn btn-default">Submit</button>
  </form>

  <br><br><br>
  <h2 id="latest-products">Latest products:</h2>

  <div class="row">
    {% set i = 0 %}

    {% for product in products %}

    <div data-post-id="{{i}}" class="col-md-3">
      <img src="{{ asset("img/macbook 179x91.jpg") }}" alt="">
      <span class="product-name"> {{ product.name }} </span>
      <span class="product-category">{{product.category}}</span>
    </div>

    {% set i = i + 1 %}

    {% endfor %}




  </div>

  <br>
  <br>
  <br>

  <div class="button-center">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">show more</button>
  </div>

</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset("js/more-products.js") }}" charset="utf-8"></script>
{% endblock %}
